<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.104.2">
    <title>VACANCIES</title>

    
    <link rel="icon" href="logosmall.svg" type="image/svg+xml">

    

    

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
      .GFG {
            background-color: white;
            border: 2px solid black;
            color: green;
            padding: 5px 10px;
            text-align: center;
            display: inline-block;
            font-size: 20px;
            margin: 10px 30px;
            cursor: pointer;
        }
      .feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}

.icon-link > .bi {
  margin-top: .125rem;
  margin-left: .125rem;
  fill: currentcolor;
  transition: transform .25s ease-in-out;
}
.icon-link:hover > .bi {
  transform: translate(.25rem);
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: .75rem;
}

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.feature-icon-small {
  width: 3rem;
  height: 3rem;
}
.applylink {
   color:rgba(35, 105, 33, 0.909)
}
.site-header {
  background-color: rgba(35, 105, 33, 0.909);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #ffffff;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #8e8e8e;
  text-decoration: none;
}
.coming{
  text-align: center;
}

    </style>

    
    
  </head>
  <body>

  <div class="b-example-divider"></div>

  <div class="container px-2 py-3" id="custom-cards">
    <h2 class="pb-2 border-bottom">AVAILABLE VACANCIES</h2>
    <h4 class="applylink"><a href="form" class="applylink"> CLICK HERE TO APPLY!!!!!!!</a></h4>

    <div class="row row-cols-1 row-cols-lg-3 align-items-right g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('vac_1.jpg');">
          <div class="d-flex flex-column h-100 p-2 pb-1 text-white text-shadow-1">
            <h3 class="pt-1 mt-1 mb-2 display-6 lh-1 fw-bold">PROJECT MANAGER</h3>
            
            <p> Functional Area - IT & Information Security<br>
              Role Category - IT Support<br>
        
              Employment Type:Full Time, Permanent<br>
              Education:<br>
              UG:B.Tech/B.E. in Any Specialization </p>
            
            
        </div>
      </div>
      </div>
    
    
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('vac_2.jpeg');">
          <div class="d-flex flex-column h-100 p-2 pb-1 text-white text-shadow-1">
            <h3 class="pt-1 mt-1 mb-2 display-6 lh-1 fw-bold">FULL STACK DEVELOPER</h3>
              <P>Functional Area - Engineering - Software & QA<br>
                Employment TypeFull Time, Permanent<br>
                Role CategorySoftware Development<br>
                Education<br>
                UG :Any Graduate<br>
              </p>
          </div>
        </div>
      </div>
    
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('vac_3.png');">
          <div class="d-flex flex-column h-100 p-2 pb-1 text-white text-shadow-1">
            <h3 class="pt-1 mt-1 mb-2 display-6 lh-1 fw-bold">BACK-END DEVELOPER</h3>
            <p>Industry TypeSoftware Product<br>
              Functional AreaEngineering - Software & QA<br>
              Employment TypeFull Time, Permanent<br>
              Role CategorySoftware Development<br>
              Education<br>
              UG :BCA in Any Specialization, B.Tech/B.E. in Any Specialization<br>
              PG :MCA in Computers, M.Tech in Any Specialization</p>
           
          </div>
        </div>
      </div><div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('vac_6.jpeg');">
          <div class="d-flex flex-column h-100 p-2 pb-1 text-white text-shadow-1">
            <h3 class="pt-1 mt-1 mb-2 display-6 lh-1 fw-bold">FRONT-END DEVELOPER</h3>
            <p>Industry TypeIT Services & Consulting<br>
              Functional AreaEngineering - Software & QA<br>
              Employment Type - Full Time, Permanent<br>
              Role Category - Software Development<br>
              Education<br>
              UG :B.Tech/B.E.<br>
              PG :Post Graduation Not Required</p>
            
          </div>
        </div>
      </div><div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('vac_5.jpg');">
          <div class="d-flex flex-column h-100 p-2 pb-1 text-white text-shadow-1">
            <h3 class="pt-1 mt-1 mb-2 display-6 lh-1 fw-bold">SYSTEM ANALYST</h3>
            <p>Functional Area - Data Science & Analytics<br>
              Employment -  TypeFull Time, Permanent<br>
              Role Category - Business Intelligence & Analytics<br>
              Education<br>
              UG :Any Graduate<br>
              PG :Any Postgraduate<br>
              </p>
            
          </div>
        </div>
      </div><div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('vac_4.jpg');">
          <div class="d-flex flex-column h-100 p-2 pb-1 text-white text-shadow-1">
            <h3 class="pt-1 mt-1 mb-2 display-6 lh-1 fw-bold">NETWORK ARCHITECT</h3>
            <p>Functional Area - Engineering - Hardware & Networks<br>
              Employment Type - Full Time, Permanent<br>
              Role Category - IT Network<br>
              Education<br>
              UG :Any Graduate<br>
              PG :Any Postgraduate</p>
            
          </div>
        </div>
      </div><div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('vac_7.jpeg');">
          <div class="d-flex flex-column h-100 p-2 pb-1 text-white text-shadow-1">
            <h3 class="pt-1 mt-1 mb-2 display-6 lh-1 fw-bold">DATABASE ANALYST</h3>
            <p>Functional Area - Engineering - Software & QA<Br>
              Employment Type - Full Time, Permanent<Br>
              Role Category - DBA / Data warehousing<Br>
              Education<Br>
              UG :Any Graduate<Br>
              PG :Any Postgraduate</p>
            
          </div>
        </div>
      </div><div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('vac_8.jpeg');">
          <div class="d-flex flex-column h-100 p-2 pb-1 text-white text-shadow-1">
            <h3 class="pt-1 mt-1 mb-2 display-6 lh-1 fw-bold">DATABASE WAREHOUSE MANAGER</h3>
            <p>Functional Area - Engineering - Software & QA<br>
              Employment Type - Full Time, Permanent<br>
              Role Category - Warehouse Management<br>
              Education<br>
              UG :BCA  /B.Sc / B.Tech/B.E. in Any Specialization<br>
              PG :MCA in Any Specialization, MS/M.Sc(Science) in Any Specialization,<br>
              Doctorate :Doctorate Not Required</p>
           
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('vac_9.jpg');">
          <div class="d-flex flex-column h-100 p-2 pb-1 text-white text-shadow-1">
            <h3 class="pt-1 mt-1 mb-2 display-6 lh-1 fw-bold">UI DESIGNER</h3>
            <p>Functional Area - UX, Design & Architecture<BR>
              Employment Type - Full Time, Permanent<BR>
              Role Category - UI / UX<BR>
              Education<BR>
              UG :B.Des. in Any Specialization, Any Graduate<BR>
              PG :M.Des. in Any Specialization</p>
           
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2 class="pb-2 border-bottom"><div class="coming">MANY MORE COMING SOON....</div> </h2>
  <footer class="site-header sticky-top py-1">
    <nav class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2" href="#" aria-label="Product">
        <img src="logosmall.svg" width="24" height="24" fill="white-space" >
      </a>
      <a class="py-2 d-none d-md-inline-block" href="home">HOME</a>
      <a class="py-2 d-none d-md-inline-block" href="contact">CONTACT US</a>
      <a class="py-2 d-none d-md-inline-block" href="profile">PROFILE</a>
      
    </nav>
  </footer>
  
    <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

      
  </body>
</html>